RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://all.khmersharings.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://all.khmersharings.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://khmersharings.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://khmersharings.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.all.khmersharings.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.all.khmersharings.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.khmersharings.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.khmersharings.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://all.khmersharings.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://all.khmersharings.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://khmersharings.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://khmersharings.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.all.khmersharings.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.all.khmersharings.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.khmersharings.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.khmersharings.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]
